@import 'partials/setup';
@import 'partials/variables';
@import 'partials/form';

// * {
//   border: 1px solid red;
// }

html {
  font-size: 62.5%;
}

body {
  font-family: $bodyFont;
  height: 100%;
  font-size: 1.4rem;
  // background-image: url('../assets/NYC-Traffic/snapshots/NYC-Traffic.jpg');
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}  

h1 {
  font-family: $headingFont;
  font-size: 5rem;
  text-shadow: 1px 1px 1px $magentaColor;
  color: $purpleColor;
  text-transform: uppercase;
  margin: 15px;
}

.wrapper {
  font-size: 1.2em;
  color: white;
  top: 50px;
  position: absolute;
  text-align: center;
  margin: 20px auto;
  right: 20%;
  left: 20%;
  border: 10px solid $magentaColor;
  background-color: rgba(217, 91, 67, .9);
  border-radius: 20px;
  width: 60%;
  padding: 5px;
  label {
    font-family: $headingFont;
    font-size: 2rem;
  }
}


//to toggle between on "submit"
.hidden {
	display: none;
}

//USER RESULTS------------------

.trip-info{
  // border: 1px solid green;
  font-size: 1em;
  z-index: 500;
  position: relative;
  text-align: center;
  margin: 0 auto;
  // background-color: rgba(246, 246, 246, 0.35);
  border-radius: 20px;
  padding: 5px;
  padding-top: 0;
  	p {
  		margin-top: 0;
  		font-size: 1em;

  	}

}
  #map {
    height: 325px;
    width: 100%;
    margin: 0 auto;
}

// Pop up window styles
.pop-up-window {
  color: black;
  max-width: 200px;

}

// appending info to page

.travelTime, .priceContainer, .roundTrip {
  position: absolute;
  z-index: 9999999;
  background: $tealColor;
  max-width: 100px;
  color: white;
  font-family: $headingFont;
  border-radius: 5px;
  padding: 5px;
  p {
    margin: 0;
  }
}

.travelTime, .roundTrip {
  top: 50px;
}

.priceContainer {
  top: 120px;
}

.noStation {
  position: absolute;
  z-index: 9999999;
  background: $magentaColor;
  max-width: 90%;
  color: white;
  font-family: $headingFont;
  border-radius: 5px;
  padding: 5px;
  top: 275px;
  p {
    margin: 5px;
  }
}


//button styling---------------------------
.color-2 {
  background: $tealColor;
}
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 50px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-2 {
  background: $tealColor;
  color: #fff;
  box-shadow: 0 6px #3a5456;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.btn-2g {
  border-radius: 40px;
}

.btn-2g:hover {
  box-shadow: 0 4px #3a5456;
  top: 2px;
}

.btn-2g:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

//VIDEO BLEED STYLES --------------------
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    z-index: 0;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

//Media queries

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
.wrapper {
		width: 80%;
		margin: auto;
		right: 10%;
		left: 10%;
    top: 10px;

	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
.wrapper {
		width: 95%;
		right: 2.5%;
		left: 2.5%;
	}

h1 {
  font-family: $headingFont;
  font-size: 4rem;
	}
}









